Source: wav2rtp
Section: science
Priority: optional
Maintainer: Roman Imankulov <imankuloff@users.sourceforge.net>
Build-Depends: debhelper (>= 5), autotools-dev, libspeex-dev (>=1.1), libortp5-dev (>=1.5), libgsm1-dev (>=1.0), libsndfile1-dev (>=1.0), libpcap0.7-dev
Standards-Version: 3.7.2

Package: wav2rtp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libspeex1 (>=1.1), libortp5 (>=1.5), libgsm1 (>=1.0), libsndfile1 (>=1.0), libpcap0.7
Suggests: sipp-tester
Description: Tool to generate RTP data and save it into pcap or wav file
 wav2rtp is a simple tool intended to convert speech data from wav files to RTP
 data stream. This tool supports conversion data with codec G.711u, GSM 06.10
 and Speex and may write RTP stream to pcap or wav file. With this tool you can
 also emulate random losses and delays which may have a place in the real
 network communication.
 .
 This tool was created and currently developed as part of the research project
 which explore an influence of different types of codecs and codec modes along
 with different types of network losses and delays to speech quality. 
